.div1{
    width: 350px;
    height: 650px;
    /* background-color: rgb(172, 171, 169); */
    margin-top: 30px;
    margin-left: 750px;
    border: solid 1px black;
}
button{
    height: 34px;
    width: 275px;
    color: white;
    background-color: rgb(8, 135, 238);
    border-radius: 10px;
    border: solid 1px  rgb(8, 135, 238) ;
    margin-top: 18px;
    margin-left: 40px;
    font-weight:bolder;
    position: relative;
}
input{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    padding-left: 10px;
    border: solid 1px rgb(165, 164, 164);
    width: 260px;
    height: 35px;
    border-radius: 4px;
    margin-left: 39px;
}
.div2{
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #616161;
    font-size:12px ;
    margin-top: 20px;
}
.a1{
    color: rgb(24, 115, 253);text-decoration: none;
}
.div3{
    margin-left: 10px;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #616161;
    font-size:12px ;
    margin-top: 20px;
    
}
.div4{
    width: 266px;
    height: 62px;
    /* background-color: aqua; */
    margin-top: 75px;
    border:solid 1px black;
    padding-left: 90px;
}