body {
    background-color: rgb(246, 246, 247);
}

.container{
    /* background-color: aqua; */
    height: 400px;
    margin-top: 160px;
    display: flex;
}
.div1{
    /* background-color: chartreuse; */
    height: 200px;
    width: 500px;
    margin-left: 500px;
    margin-top: 60px;
    text-align: left;
}
.div2{
    background-color: white;
    width: 400px;
    height: 360px;
    margin-left: 80px;
    text-align: center;
    box-shadow: 4px 4px 10px rgba(155, 154, 154, 0.2), -4px -4px 10px rgba(175, 175, 175, 0.2);

    border-radius: 5px;
}
.custom-heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    font-weight: 100;  
    font-style: normal;
    margin-top: -15px;
    margin-left: 30px;
    opacity: 0.8;
}


.inp{
    border:solid  1px rgb(223, 220, 220);
    border-radius: 7px;
    width: 320px;
    height: 10px;
    margin-top: 15px;
    padding: 20px;
    font-style:Sans-serif;
    font-weight: 300;
    font-size: large;
    
}
.btn {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 54px; 
    width: 360px;
    background-color: #2882f8;
    border: 1px solid #2882f8;
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-align: center; 
    padding: 0; 
    box-sizing: border-box; 
    margin-left: 20px;
}
.forgot-password {
    color: #2882f8; 
    text-decoration: none;
    font: weight 100px;; 
    font-size: 14px;
    font-style: normal;     
    font-family: Arial, sans-serif;
}

.forgot-password:hover {
    text-decoration: underline; 
}
.new{
    background-color: #1f9c14;
    border: 1px solid  #1f9c14;
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-align: center; 
    padding: 0; 
    box-sizing: border-box; 
    margin-left: 100px;
    height: 50px; 
    width: 200px;
    font-weight: bold;
    font-size: large;
    text-align: center; 
    padding: 0; 
    border-radius: 5px;

}
.small-container {
    /* background-color: rgb(212, 209, 212);  */
    width: 100%; 
    height: auto; 
    font-size: small;
    padding: 10px; 
    text-align: center;
    margin-top: 30px;
}

.create {
    color: #010408;
    text-decoration: none;
    font-style: normal;
    font-size: small;
    font-weight: bold;
    display: inline;
    margin-right: 10px;
}

.create:hover {
    text-decoration: underline;
}

p {
    color: #010408;
    text-decoration: none;
    font-style:normal;
    font-size:small;
    font-weight: 500;
    display: inline; 
    margin: 0;
    padding: 0;
}
